<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="<%= process.env.SITE_URL %>/faye/client.js"></script>
    <style>
      body { }
      sub > small { font-size: 60%; }
      a.create-new-bin-link { margin-left: 2.5em; }
      #hit-url { padding: 7px 17px; background: #dcdcdc; font-weight: bold; font-size: 90%; }
      table.invocation { border: 1px solid black; padding: 1em; margin-top: 2.5em; border-collapse: collapse; }
      table.invocation tr, td { border: 1px solid black; padding: 1em; }
    </style>
  </head>
  <body>
  <div id="app">
    <h1>
      <%= bin.shortId %> <sub><small>({{ invocations.length }} Invocations)</small></sub>
    </h1>
    <span id="hit-url"><%= `${process.env.SITE_URL}/${bin.shortId}` %></span>
    <!-- <input id="hit-url" value="<%= `${process.env.SITE_URL}/${bin.shortId}` %>" style="min-width:300px;" readonly> -->
    <!-- Trigger -->
    <button class="btn" data-clipboard-target="#hit-url">
      Copy
    </button>
    <a class="create-new-bin-link" href="<%= process.env.SITE_URL %>">Create New Bin</a>
    <hr/>

    <div v-if="invocations.length === 0">
      <p>Waiting for first request...</p>
    </div>
    <table class="invocation" v-for="invocation in invocations" v-else>
      <tr>
        <td>When:</td>
        <td>{{ new Date(invocation.createdAt) }}</td>
      </tr>
      <tr>
        <td>IP:</td>
        <td>{{ invocation.ip }}</td>
      </tr>
      <tr>
        <td>Method:</td>
        <td>{{ invocation.method }}</td>
      </tr>
      <tr>
        <td>Headers:</td>
        <td>
          <pre class="json">{{ JSON.stringify(invocation.headers, undefined, 2) }}</pre>
        </td>
      </tr>
      <tr>
        <td>Body:</td>
        <td>
          <pre class="json">{{ JSON.stringify(invocation.body, undefined, 2) }}</pre>
        </td>
      </tr>
    </table>

  </div>
  <script>
    new ClipboardJS('.btn')
    var client = new Faye.Client("<%= process.env.SITE_URL %>/faye")
    client.subscribe("/bin/<%= bin._id %>", function ({ invocation }) {
      console.log(vm)
      vm.bin._invocations.push(invocation)
    })
    var vm = new Vue({
      el: "#app",
      data: {
        bin: <%- JSON.stringify(bin) %>
      },
      computed: {
        invocations() {
          return this.bin._invocations.reverse()
        }
      }
    })
  </script>
  </body>
</html>